$color-primary: #2196F3;

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #a39393;

$font-color-gray: #a39393;
$font-franklin-gothic-medium: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$color-dark: #353333;
$color-light: #eee8e8;

$button-color-background: #64baa4;
$button-color-text: #ffffff;
$button-color-hover: #05d88b;

